:root {
    --color-white: #ffffff;
    --color-dark-text: #161012;
    --color-dark-grey: #6b7376;
    --color-text-grey: #b6bbc1;
    --color-headers: #eaeaea;
    --color-contact-hover: #e9ebeb;
    --color-light-icons: #b1b1b1;
    --color-sent-message: #d5f9ba;
    --color-notification: #8edafc;
    --color-search: #fafafa;
    --color-inputtext: #f3eeea;
    --my-bg-color: linear-gradient(to bottom,
            #009688 0%,
            #009688 20%,
            #DBDBD3 20%,
            #DBDBD3 100%);
}

body {
    font-family: 'Lato', sans-serif;
}

#app {
    width: 100%;
    height: 100vh;
    background: var(--my-bg-color);
    padding: 20px;
}

.contact {
    background-color: var(--color-white);
}

.header {
    background-color: var(--color-headers);
    height: 80px;
}

.notifica {
    background-color: var(--color-notification);
}

.h--70 {
    height: 70px;
    background-color: var(--color-inputtext);
}

.my-circle {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 10px 0;
}

.my-circle>img {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.my-bell {
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: var(--color-white);
    color: var(--color-notification);
    margin: 20px 10px;
}

.my-bell>i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.icons {
    color: var(--color-light-icons);
    font-size: 1.2em;
}

.searchbar {
    background-color: var(--color-search);
}

.lense {
    color: var(--color-light-icons);
}

.main-text {
    background-image: url(/img/mine.jpg);
    background-size: fill;
    background-position: center;
}

.my-name {
    margin-right: 200px;
    font-size: 1.5em;
}

.h0 {
    height: 0;
}

.contact-img {
    object-fit: cover;
    width: 60px;
    height: 60px;
}

.border-top {
    border-top: 1px solid var(--color-dark-grey);
}

.reset-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.last-message {
    font-size: 0.8em;
    color: var(--color-text-grey);
}

.ora-messaggio {
    font-size: 0.6em;
    color: var(--color-text-grey);
    position: absolute;
    top: 10px;
    right: 10px;
}

.sent {
    background-color: var(--color-sent-message);
    border-radius: 1.2em;
    padding: 15px 10px;
    position: relative;
    left: 75%;
}


.received {
    background-color: var(--color-white);
    border-radius: 1.2em;
    padding: 15px 10px;
}

.orario {
    font-size: 0.6em;
    color: var(--color-text-grey);
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.contatto:hover {
    background-color: var(--color-contact-hover);
}

.active {
    background-color: #b6b7b777;
}

.my-input {
    height: 40px;
    padding: 0 10px;
    outline-color: none;
    outline-style: none;
}

.search-input {
    outline-color: none;
    outline-style: none;
    border-left: none;
}

.my-pre-input {
    background-color: var(--color-white);
}

.paperplane-button {
    outline: none;
    display: block;
    border: none;
}

.chevron {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-light-icons);
    cursor: pointer;
}

.dropdown {
    width: 200px;
    line-height: 30px;
    position: absolute;
    top: -50px;
    right: 10px;
    background-color: var(--color-inputtext);
}

.dropdown-icon {
    top: 40px;
    color: var(--color-dark-text);
}

.info {
    border: 1px solid var(--color-text-grey);
    cursor: pointer;
}

.elimina {
    color: red;
    border-left: 1px solid var(--color-text-grey);
    border-right: 1px solid var(--color-text-grey);
    border-bottom: 1px solid var(--color-text-grey);
    cursor: pointer;
}

.elimina:hover {
    background-color: var(--color-light-icons);
}

.info:hover {
    background-color: var(--color-light-icons);
}

.fa-chevron-down {
    display: none;
}

.boss:hover .fa-chevron-down {
    display: flex;
}

.right-triangle {
    width: 0;
    height: 0;
    padding: 0;
    margin: 20px auto;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-left: solid 20px var(--color-sent-message);
    border-right-width: 0;
    z-index: 1000;
    position: absolute;
    right: -10px;
    bottom: 0;
}