<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- link to Font-Family and CSS Files -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Document Title -->
    <title>Boolzapp</title>
</head>

<body>
    <div id="app">
        <div class="container border h-100">
            <div class="row h-100 flex-nowrap">
                <div class="col-12 col-md-4 contact">
                    <div class="row h-100 flex-column flex-nowrap">
                        <div class="col-12 header d-flex justify-content-between align-items-center">
                            <div class="rounded-circle my-circle d-flex text-dark">
                                <img src="img/avatar_2.jpg" alt="MyPhoto">>
                            </div>
                            <div>
                                <h3 class="my-name">Max</h3>
                            </div>
                            <div class="icons">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message px-3"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>

                            </div>
                        </div>
                        <div class="col-12 notifica d-flex align-items-center">
                            <div class="rounded-circle d-inline-block my-bell">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="d-inline-block">
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <div class="col-12 searchbar">
                            <div class="input-group mb-3 my-2">
                                <span class="input-group-text my-pre-input" id="basic-addon1">
                                    <i class="fa-solid fa-magnifying-glass lense"></i>
                                </span>
                                <input type="text" class="form-control search-input" placeholder="Search"
                                    aria-label="Search" aria-describedby="basic-addon1" v-model="filterContact">
                            </div>
                        </div>
                        <div class="col-12 flex-grow-1 overflow-y-auto h0 reset-padding">
                            <div class="contatto d-flex position-relative border-top"
                                v-for="contact in filteredContact()" @click="activeId = contact.id, dropdownRemove() "
                                :class="{'active': isActive(contact.id - 1)}">
                                <div class="rounded-circle overflow-hidden my-2 mx-2">
                                    <img class="contact-img" :src="contact.avatar" alt="">
                                </div>
                                <div class="d-flex flex-column justify-content-center whitehover">
                                    <h5>{{contact.name}}</h5>
                                    <p class="last-message">{{contact.messages[contact.messages.length - 1].message}}
                                    </p>
                                    <p class="ora-messaggio">{{contact.messages[contact.messages.length -
                                        1].date}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row h-100 flex-column flex-nowrap">
                        <div class="col-12 header d-flex justify-content-between align-items-center">
                            <div>
                                <div class="rounded-circle my-circle d-inline-block mt-5">
                                    <img :src="contacts[activeContact].avatar" alt="">
                                </div>
                                <div class="d-inline-block mx-2 py-1">
                                    <h5>{{contacts[activeContact].name}}</h5>
                                    <p class="last-message pb-3">
                                        Ultimo accesso:
                                        {{contacts[activeContact].messages[contacts[activeContact].messages.length
                                        -
                                        1].date}}
                                    </p>
                                </div>
                            </div>
                            <div class="icons">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip px-3"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div id="myDiv" class="col-12 flex-grow-1 main-text overflow-y-auto h0" @update="updateScroll"
                            @click="dropdownRemove()">
                            <div class="my-5" v-for="(message, index) in contacts[activeContact].messages">
                                <div class="my-2 d-inline-block w-25 position-relative boss" :class="message.status">
                                    {{contacts[activeContact].messages[index].message}}
                                    <span class="orario">{{myHour(message.date)}}</span>
                                    <span v-if="{'sent': true}" class="right-triangle"></span>
                                    <span class="chevron" @click.stop="clicked = index">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </span>
                                    <div class="dropdown" v-show="index === clicked">
                                        <div class="info">
                                            Info Messaggio
                                        </div>
                                        <div class="elimina">
                                            Cancella Messaggio
                                            <i class="fa-solid fa-trash"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-evenly align-items-center h--70">
                            <i class="fa-regular fa-face-smile icons"></i>
                            <input class="w-75 border-0 rounded-2 my-input" type="text"
                                placeholder="Scrivi un Messaggio" v-model="newMessage" @keyup.enter="addMessage">
                            <div v-if="newMessage === ''">
                                <i class="fa-solid fa-microphone icons"></i>
                            </div>
                            <button class="paperplane-button" @click="addMessage" v-else>
                                <i class="fa-solid fa-paper-plane icons"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- My JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.4.3/luxon.min.js"
        integrity="sha512-gUQcFuEaDuAEqvxIQ9GDdMcCeFmG5MPnoc6ruJn+nyCNHrHM2oB97GOVLIOiixzTxPYmIfEQbOoQmx55UscLyw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js" type="module"></script>
</body>

</html>